.container {
    margin: 0px 166px;
}

.header-logo {
    width: 100px;
}

body {
    background:linear-gradient(lightblue, rgb(246, 198, 131));
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.cart {
    width: 100px;
    padding-top: 0px;
}

.phone {
    width: 100px;
}

.header-line {
    padding-top:50px;
    display: flex;
    align-items: center;
    
    
}

.nav-item {
    color:black;
    text-decoration: none;
    font-weight: 700;
    margin-right: 25px;
}

.cart {
    position: relative;
    border-right: 1px solid black;
    padding-right: 10px;
    height: 90px;
}

.cart-img {
    position: relative;
    
}

.btn {
    font-weight: 700; 
}

.number {
    font-weight: 700;
}

.phone-text {
    font-weight: 700;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.btn {
    background-color:#32a1ce;
    color: black;
    font-size: 17px;
}

.food{
   margin-left: 20px;
}

.inf{
    border-radius: 10px 100px / 120px;
    border: thick double #32a1ce;
    height: 150px;
    max-width: 700px;
    align-items: center;
    position: absolute;
    top: 300px; right:250px;
    font-size: larger;
    
}

.sea{
    height: 250px;
    width: 650px;

    position: absolute;
    right: 20px; top: 545px;
}